
section.thisWeek{
    position: relative;
    display: flex;
    align-items: flex-start;
}
.thisWeek__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}
.thisWeek__title h3{
    font-weight: 600;
}
.thisWeek .container{
    flex-direction: row;
    align-items: flex-start;
}
.thisWeek .thisWeek_slider{
    overflow: hidden;
}